body{
    background-color: rgb(232, 219, 243);
    margin: 0px;
    font-family: arial;
}

/*Styles part of navigation menu*/

#menu{
    background-color: black;
    width: 100%;
    height: 50px;
    color: white;
    text-align: right;
    margin: 0px;
    position: fixed;
}
#menu a{
    text-decoration: none;
    color: white;
    margin: 0px 20px;
    position: relative;
    top:17px;
    padding: 16px 25px;
}
#menu a:hover{
    background-color: gray;
}

/*Styles part of product container*/

.product-container, .container{
    background-color: white;
    width: 760px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
}
.row{
    display: flex;
}

/*Styles part of product-image and product-detail*/

.product-image{
    width: 380px;
    height: 360px;
    padding: 5px 10px;
}
.product-image img{
    width: 100%;
    height: 260px;
}
.promo-code p{
    background-color: rgb(197, 243, 185);
    border: 2px solid rgb(93, 156, 93);
    margin-top: 25px;
    width: 300px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    
}
.product-detail{
    width: 380px;
    height: 360px;
    padding: 5px 10px;
    text-align: justify;
    font-size: 15px;
    padding-bottom: 50px;
}
.product-detail ul li{
    margin-bottom: 5px;
}

/*Styles part of related-product*/

.related-product{
    margin: 20px 10px;
    border: 1px solid #000;
    background-color: rgb(212, 172, 248);
    width: 185px;
    height: 175px;
}
.related-product-image{
    padding: 15px;
}
.related-product-image img{
    width: 100%;
    height: 140px;
    object-fit: cover;
}
.related-product-name{
    background-color: rgba(0, 0, 0, .7);
    color: #fff;
    position: relative;
    top: -58px;
    width: 100%;
    visibility: hidden;
}
.related-product:hover .related-product-name{
    visibility: visible;
}
.related-product-name h4{
    text-align: center;
    padding: 10px;
}

/*Styles part of footer*/

footer{
	background-color:black;
    width: 100%;
    height: 40px;
    font-family:comic sans ms;
    margin-top: -15px;
}
footer p{
    padding-top: 8px;
    text-align: center;
    color: white;
}


/*Styles part of about page*/

.row1 img{
    width: 100%;
    height: 400px;
}
.team-box{
    width: 254px;
    margin: 10px;
    padding: 10px;
    text-align: center;
}
.team-box img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.team-box p{
    font-size: 14px;
}
.team-box h5, p{
    margin-top: -10px;
}
.parent .child{
    float:right;
    background-color:rgba(41, 40, 40, 0.6);
    color: white;
    position: relative;
    top:35px;
    padding: 8px;
    visibility: hidden;
}
.parent:hover .child{
    visibility: visible;
}
.parent{
    margin-top: -30px;
}

